html, body {
    margin: 0;
    padding: 0; 
    background-color: #121212;
}
body{
    max-width: 550px;
    height: 100vh;
    margin:0 auto;
    justify-content: center; /* Centers horizontally */
    align-items: center;
    font-family: "Inter", sans-serif;
}


input, button {
  margin: 0;
  padding: 0;
}
a:link, a:visited, a:active {
  color: whitesmoke; 
  text-decoration: none; 
}
button,input{
    margin: 0;
}

#film-icon{
    color: white;
}

a:hover{
    color:crimson;
}
   
h2{
    color: whitesmoke;
}
header{
     display: flex;
    background-image: url('/img/human_condition_part_1.jpeg');
    background-size: cover;
    margin: auto;
    align-items: center;
    justify-content:center;
    max-height: 208px;
}
#header-options{
    height: 208px;
    width: 550px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    
}
main{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content:center; 
}
#search-bar{
    display: flex;
    width: 462px;
    height: 38px ;
    margin-top: -18px;
    justify-content:center; 
    padding-bottom: 10px;
}
#movie-search{
    width: 342px;
    margin: 0%;
    border: 0;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 9px;
    padding-bottom: 9px;
    color: gray;
    background-color: #2E2E2F;
    border-radius: 2px 0px 0px 2px;
}
#search-button{
    width: 120px;
    margin: 0px;
    border: 0;
    padding-left: 17px;
    padding-right: 11px;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: #4B4B4B;
    color: #FFFFFF;
    border-radius: 0px 2px 2px 0px;
}

.fa-film{
    font-size: 100px;
}
.fa-star{
    color: #FEC654;
    width: 15px;
    height: 15px;
    margin-right: 6px;
}

#movie-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: #FFFFFF solid 2px; */
}
#movie-feed{
    color: #4B4B4B;
}
.movie-image{
    width: 119px;
    
}
.movie-bio{
    width:342px
    }
    
.movie{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    width: 462px;
    max-height: 150px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.title-rating{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 23px;
    width: 320px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.movie-title{
    margin-right: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    height: 20px;
    max-width: 285px;
}

.movie-rating{
    font-size: 12px;
    padding-top: 6px;
}

.movie img{
    max-height: 150px;
    max-width: 100px;
}

.movie-bio{
    
    height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;     
}

.length-genres-watchlist{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    height: 20px;
    max-width: 285px;
}

.film-description{
    line-height: 20px;
    font-size: 14px;
    color: #A5A5A5;  
}

#film-search-error{
    color: #FFFFFF;
}

#no-film-search{
    display: flex;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    text-align: center; 
    width: 100%;  
}

#no-film-search-child
{
    color: white;
    flex: auto;
    border-radius: 25px;
    /* border: 2px outset white; */
    padding: 10px; 
    
}

hr{
display: block;
height:1.5px;
width: 462px;
border-width:0;
color:gray;
background-color:#2C2C2C;
}

.watchlist-btn{
    background:none;
    border: none;
    color:#FFFFFF;
}

input:focus {
  outline: 2px solid #FFFFFF;
  /* border: 2px solid white;   */
}

ul
{
    text-align: center;
    list-style-type: none;
}

li{
    margin: 0;
    /* text-align: center; */
}

#film-search-error{
    display: flex;
    justify-content: center;
    text-align: center;
}

.errors{
    margin: 0;
}

#no-movies{
    text-align: center;
}